.bisu--react-loading {
  position: relative;

  .sk-spinner {
    margin: 20px auto;
  }

  .sk-spinner > * {
    background-color: $gray;
  }
}

.bisu--react-loading.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);

  .sk-spinner {
    margin-top: 20%;
  }
}
